extends layout

block content
	script(type="text/javascript" src="/javascripts/jquery.min.js")
	script(type="text/javascript" src="/javascripts/index.js")

	form(id="formularioJson" style="padding: 10px;" action="/enviar")
		h1(style="text-align: center;") Envie um email de teste
		h1(style="text-align: center;") JSON
		h4(id="mensagemDeErroJson" style="text-align: center;")

		div(class="form-group")		
			label(for="conteudo") Conteudo:
			textarea(id="conteudoJson" class="form-control" rows="24" name="html" autocomplete="off")
				|{
				|	"options" : {
				|		"smtp" : {
				|			"host":"email-ssl.com.br",	
				|			"port":"465",
				|			"secure": true,
				|			"auth": {
				|				"user":"example@example.com.br", 
				|				"pass": "PASSWORD"
				|			}
				|		},
				|		"mailOptions" : {
				|		    "from": "you@test.com", 
				|		    "to": "someone@test.com", 
				|		    "subject": "Test", 
				|		    "html": "<span style='color: red;'>Test</span>",
				|		    "attachments": [
				|		        {
				|		            "filename": "attachment.txt",
				|		            "content": "hello world!"
				|		        }]
				|		}
				|	}
				|}

		div(class="form-group" style="text-align: center;")
			button(type="submit" class="btn btn-info" style="width: 30%;") Enviar