extends layout

block content
	script(type="text/javascript" src="/javascripts/jquery.min.js")
	script(type="text/javascript" src="/javascripts/index.js")

	form(id="formulario" style="padding: 10px;" action="/enviar")
		h1(style="text-align: center;") Envie um email de teste
		h2(style="text-align: center; color: red;") #{mensagemDeErro}
		div(class="form-group")
			label(for="smtp") SMTP:
			input(id="smtp" type="text" class="form-control" name="smtp" placeholder="smtps://account%40gmail.com:password@smtp.gmail.com")

		form(name="mailOptions")
			div(class="form-group")
				label(for="de") De:
				input(id="de" type="email" class="form-control" name="from" placeholder="account@example.com")
			
			div(class="form-group")
				label(for="para") Para:
				input(id="para" type="email" class="form-control" name="to" placeholder="account@example.com, anotherAccount@example.com")
			
			div(class="form-group")
				label(for="assunto") Assunto:
				input(id="assunto" type="text" class="form-control" name="subject" placeholder="Assunto do email")
			
			div(class="form-group")		
				label(for="conteudo") Conteudo:
				textarea(id="conteudo" class="form-control" rows="3" name="html" placeholder="conteudo em texto ou html com css inline")

		div(class="form-group" style="text-align: center;")
			button(class="btn btn-info" style="width: 30%;") Enviar
